/* quicksand-300 - vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/quicksand-v31-vietnamese-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-regular - vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/quicksand-v31-vietnamese-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-500 - vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/quicksand-v31-vietnamese-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-600 - vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/quicksand-v31-vietnamese-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quicksand-700 - vietnamese */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/quicksand-v31-vietnamese-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

html {
  background-color: #fbdcb0;
}

body {
  margin: 0;
  color: rgb(255, 238, 196);
}

.container {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  height: 100vh;
}

.container .header,
.container .footer {
  background-color: #941f15;
  color: #ffeec4;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
}

.container .content {
  top: 36px;
  width: 100%;
  overflow: auto;
  background-image: url("./images/red-bg.jpg");
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}

.container .content .introduction img {
  width: 100%;
}

.container .content .products .product {
  width: 50%;
  padding: 8px;
}

.container .content .products .product img {
  width: 100%;
}

.product-btn {
  display: block;
  background-color: #ffda2d;
  color: #af0017;
  margin: 8px auto;
  border-radius: 24px;
  border: 4px solid #FEDB45;
  padding: 4px 24px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  overflow: hidden;
  animation: 0.3s jump ease infinite alternate;
}

.product-btn:hover {
  cursor: pointer;
  background-color: #ffde4c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 4px;
  animation: none;
}

@media (max-width: 460px) {
  .product-btn {
    padding: 2px 8px;
  }
}

.product-btn:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn 1.5s ease-in-out infinite;
}

.product-btn:hover:before {
  animation: none;
  display: none;
}

@keyframes shiny-btn {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@keyframes jump {
  0% {
      transform: scale(0.97);
  }
  100% {
      transform: scale(1);
  }
}

.container .content .products img:hover {
  cursor: pointer;
}

.container .content .content-row {
  display: flex;
  align-items: center;
}

.container .content .content-row:last-child {
  margin-bottom: 16px;
}

.container .content .content-row .title,
.container .content .content-row .detail-content {
  padding: 8px 16px;
}

.container .content .content-row .title {
  margin-top: 16px;
  margin-bottom: 0;
}

.container .content .content-row .detail-content {
  margin: 0;
}

.container .content .content-row .detail-content div {
  margin: 8px 0;
}

.container .content .content-row .detail-content div:first-child {
  margin-top: 0;
}

.container .content .content-row .detail-content div:last-child {
  margin-bottom: 0;
}

.container .content .content-row .detail-content .example {
  font-style: italic;
  max-width: 360px;
}

.container .content .content-row .detail-content .indent {
  margin-left: 16px;
}

.container .content .content-row .detail-content b.price {
  background: #6c6c6c;
  border-radius: 8px;
  padding: 0 4px;
}

.container .content .content-row.promotion,
.container .content .content-row.shipping,
.container .content .content-row.collaborators {
  flex-direction: column;
}

a.link-text {
  color: inherit;
}

.heading-text {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

#promotion-example,
#show,
#hide:target {
    display: none; 
}

#hide:target + #show,
#hide:target ~ #promotion-example {
    display: inherit; 
}

.content-row .histats-counter {
  margin: 0 auto;
}

a.contact-sticky-btn {
  display: flex;
  position: fixed;
  bottom: 48px;
  right: 8px;
  padding: 8px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  align-items: center;
  color: #fff;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  animation: 0.3s jump ease infinite alternate;
}

a.contact-sticky-btn.call {
  background-color: #25d366;
  font-size: 24px;
}

a.contact-sticky-btn.call i {
  transform: rotate(100deg);
}

a.contact-sticky-btn.call:hover i {
  transform: rotate(0deg);
  transition: 0.3s ease;
}

a.contact-sticky-btn.facebook {
  background-color: #0866ff;
  bottom: 112px;
  font-size: 32px;
}

a.contact-sticky-btn.facebook:hover i {
  transform: scale(1.2);
  transition: 0.3s ease;
}

@media (max-width: 460px) {
  a.contact-sticky-btn {
    transform: scale(0.9);
  }
}